<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@//studentoracle.students.ittralee.ie:1521/orcl</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <mapping class="data.AccountEntity"/>
        <mapping class="data.CastEntity"/>
        <mapping class="data.EmployeeEntity"/>
        <mapping class="data.MediaEntity"/>
        <mapping class="data.ReviewEntity"/>
        <mapping class="data.EmployeebasicviewEntity"/>
        <mapping class="data.GamebasicviewEntity"/>
        <mapping class="data.MoviebasicviewEntity"/>
        <property name="connection.username"/> t00193170
        <property name="connection.password"/> y55qjsby



        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>