<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@studentoracle.students.ittralee.ie:1521:orcl</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <mapping class="Data.AccountEntity"/>
        <mapping class="Data.CastEntity"/>
        <mapping class="Data.EmployeeEntity"/>
        <mapping class="Data.MediaEntity"/>
        <mapping class="Data.ReviewEntity"/>
        <mapping class="Data.EmployeebasicviewEntity"/>
        <mapping class="Data.GamebasicviewEntity"/>
        <mapping class="Data.MoviebasicviewEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>